
<div class="bg-gradient-primary" style="height: 100vh;">
  <div class="container">
      <!-- Outer Row -->
      <div class="row justify-content-center">
          <div class="col-xl-10 col-lg-12 col-md-9">
              <div class="card o-hidden border-0 shadow-lg my-5">
                  <div class="card-body p-0">
                      <!-- main app container -->
                      <!-- Nested Row within Card Body -->
                      <div class="row">
                          <div class="col-lg-6 d-none d-lg-block">
                              <object id="svg1" data="assets/img/undraw_select_13cv.svg" height="80%" width="80%" type="image/svg+xml"></object>
                          </div>
                          <div class="col-lg-6">
                              <div class="p-5">
                                  <div class="text-center">
                                      <h1 class="h4 text-gray-900 mb-4">Bienvenido!</h1>
                                  </div>
                                  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="user">
                                      <div class="form-group">
                                          <label for="firstName">First Name</label>
                                          <input type="text" formControlName="firstName" class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                                          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                              <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label for="lastName">Last Name</label>
                                          <input type="text" formControlName="lastName" class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                                          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label for="username">Username</label>
                                          <input type="text" formControlName="username" class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                                          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                              <div *ngIf="f.username.errors.required">Username is required</div>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label for="password">Password</label>
                                          <input type="password" formControlName="password" class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                              <div *ngIf="f.password.errors.required">Password is required</div>
                                              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <button [disabled]="loading" class="btn btn-primary">
                                              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                              Register
                                          </button>
                                          <a routerLink="/login" class="btn btn-link">Cancel</a>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
