<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Recomendaciones</h6>
  </div>
  <div class="card-body">
    <div class="row" *ngIf="recomendaciones && recomendaciones.recomendaciones.length > 0">
      <!-- Iterator over recomendaciones -->
      <div *ngFor="let recomendacion of recomendaciones.recomendaciones" class="col-lg-12 mb-2">
      <!-- <div *ngFor="let recomendacion of clienteDataService.getInformacionCliente() | async" class="col-lg-12 mb-2"> -->
        <div class="card bg-success text-white shadow">
          <div class="card-body">
            <div class="text-white-50 small">
              <h4>{{recomendacion.titulo}}</h4>
              <h5>{{recomendacion.subTitulo}}</h5>
              <h6>{{recomendacion.descripcion}}</h6>
              <a target="_blank" rel="nofollow" href="https://undraw.co/">Recomendar</a>
            </div>
          </div>
        </div>
      </div>
      <!--
      <div class="col-lg-12 mb-2">
          <div class="card bg-success text-white shadow">
            <div class="card-body">
              <div class="text-white-50 small">
                <h4>OFERTA</h4>
                <h5>Nueva</h5>
                <h6>Tenemos una oferta especial.</h6>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">Recomendar</a>
              </div>
            </div>
          </div>
      </div>

      <div class="col-lg-12 mb-2">
          <div class="card bg-success text-white shadow">
            <div class="card-body">
              <div class="text-white-50 small">
                <h4>OFERTA</h4>
                <h5>Nueva</h5>
                <h6>Tenemos una oferta especial.</h6>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">Recomendar</a>
              </div>
            </div>
          </div>
      </div>

      <div class="col-lg-12 mb-2">
        <div class="card bg-success text-white shadow">
          <div class="card-body">
            <div class="text-white-50 small">
              <h4>OFERTA</h4>
              <h5>Nueva</h5>
              <h6>Tenemos una oferta especial.</h6>
              <a target="_blank" rel="nofollow" href="https://undraw.co/">Recomendar</a>
            </div>
          </div>
        </div>
      </div>
    -->

  </div>
</div>
